<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1 class="mt-4 mb-3 text-center">Bienvenido a la Gestión de Clientes</h1>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a href="/crear-customer" class="btn btn-primary btn-block">Crear Cliente</a>
        </div>
        <div class="col-md-4">
            <a href="/customers" class="btn btn-success btn-block">Ver Clientes</a>
        </div>
    </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>